{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="1">TOTAL</td>
                <td>{{ total_value | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for summary in summaries %}
                <tr>
                    <td>{{ summary.symbol }}</td>
                    <td>{{ summary.symbol }}</td>
                    <td>{{ summary.shares }}</td>
                    <td>{{ summary.price }}</td>
                    <td>{{ summary.value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="1">Cash</td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
