{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody> </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0">{{ total_value | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td class="text-start">{{ t.symbol }}</td>
                    <td class="text-end">{{ t.shares }}</td>
                    <td class="text-end">{{ t.price | usd }}</td>
                    <td class="text-end">{{ t.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
            {% for summary in summaries %}
                <tr>
                    <td>{{ summary.symbol }}</td>
                    <td>{{ summary.symbol }}</td>
                    <td>{{ summary.shares }}</td>
                    <td>{{ summary.price }}</td>
                    <td>{{ summary.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0">{{ cash | usd }}</td>
        </tr>
    </table>
{% endblock %}
