body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

video {
    max-width: 100%; /* Set the maximum width to 100% */
    height: auto; /* Maintain the aspect ratio */
}

ul, ol {
    margin-left: 15px;
    font-size: 25px; /* Adjust the font size as needed */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #DFF2FF;
    color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #007BFF;
    margin-bottom: 10px;
    font-size: 80px;
}

h2 {
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 40px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
    color: #007BFF;
}

nav a.active {
    color: #0400ff; /* Set the text color for the active link */
}

.gallery img {
    width: 325px; /* Set the width to a specific value, adjust as needed */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.gallery {
    background-color: #fadadd; /* Lighter pink background color */
    border-radius: 15px; /* Border radius for rounded corners */
    overflow: hidden; /* Hide overflow to contain rounded corners */
    padding: 20px; /* Padding for inner content */
}

.gallery-container {
    background-color: #d1ffbd;
    border-radius: 15px; /* Border radius for rounded corners */
    overflow: hidden; /* Hide overflow to contain rounded corners */
    padding: 20px; /* Padding for inner content */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.gallery-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 30px;
}

.gallery-item img {
    max-width: 600px;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 8px;
}

.gallery-container2 {
    background-color: #fadadd;
    border-radius: 15px; /* Border radius for rounded corners */
    overflow: hidden; /* Hide overflow to contain rounded corners */
    padding: 20px; /* Padding for inner content */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery-item2 {
    text-align: center;
    max-width: 600px; /* Adjust the max-width as needed */
}

.gallery-item2 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.check-item {
    text-align: center;
    margin-top: 10px;
}

.check-item input {
    margin-bottom: 5px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    color: #000000;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1; /* Ensure buttons are on top */
}

#prevButton {
    left: 35px;
}

#nextButton {
    right: 35px;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #f2f2f2;
}

td:nth-child(1), td:nth-child(2) {
    width: 9%; /* You can adjust the percentage as needed */
}
